html {
   background: url("/img/tile5.jpeg") repeat center center fixed;
   background-size: cover;
   font-family: "nunito";
   min-height: 800px;
}
.content-container {
  min-height: auto;
  margin-bottom: 40px;
  // height: auto;
  width: 100%;
  display: none;
  background: white;
  // background: #e1e5ed;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.4);

  @include mobile {
    padding: 0 20px;
  }


  .content {
    // padding-bottom: 60px;
    text-align: center;
    padding-bottom: 15px;


    @include tablet {
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;

    }

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }

    > img {
      width: 100%;

      @include tablet {
        width: 40%;
        align-self: flex-start;
      }
      @media screen and (min-width: 1600px) {
        max-width: 900px;
      }
    }
  }

  .copy {
    width: 100%;


    @include mobile {
      margin-bottom: 30px;
    }

    @include tablet {
      width: 40%;
    }

    h2 {
      font-size: 18px;
      text-align: center;
      color: $color-red;
      padding-bottom: 5px;
      font-family: "nunito";

      @include tablet {
        font-size: 1.3vw;

      }
    }

    h1 {
      font-family: 'nunito';
      letter-spacing: 3px;
      text-align: left;
      color: pink;
      font-size: 43px;
      // margin-top: 400px;
      text-align: center;
      padding-top: 23px;

      @include tablet {
        font-size: 3vw;
        margin: 0 0 2vw;
        justify-content: center;
      }

      @include mobile {
        font-size: 30px;
      }
    }

    p {
      font-family: 'Nunito', sans-serif;
      text-align: justify;
      font-size: 19px;
      line-height: 25px;
      padding-bottom: 10px;

      @include mobile {
        font-size: 15px;
      }

      @media screen and (min-width: 768px) {
        font-size: 1.5vw;
        line-height: 1.4;
      }
      @media screen and (min-width: 1600px) {
        font-size: 28px;
        line-height: 1.4;
      }
    }
  }
}

#row1.content-container {
  h1 {
    padding-top: 70px;
  }
  margin-top: 130px;
  @include mobile {
    margin-top: 130px;
    h1{
      margin-top: 0px;
    }
  }
}
#row2{

  h1{
    margin-top: 0px;
  }
}
.banner {
  display: none;
}
.AfterScroll {
  display: block;
}

.skills {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  img{
    height: 110px;
    width: auto;
    padding: 25px 20px 15px 20px;

  }
}

// Form

.form {
  input {
    width: 100%;
    height:30px;
    // min-width: 500px;

    @include mobile {
      min-width: 200px;
    }
  }
  textarea {
    width:100%;
    height:100px;
  }
  label{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 20px;
    display: block;
    // width:50%;
  }
  h1 {
    // text-align: center !important;
    color: rgb(10, 46, 163);
    font-size: 43px;
  }
  button {
    font-size: 20px;
    padding-top:20px;
    padding-bottom:20px;
    // padding: 15px 50px 15px 50px;
    transition-duration: 0.4s;
    color: black;
    background-color: pink;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  button:hover{
    color:pink;
    background-color: grey;
  }
}

canvas {
  @include mobile {
    max-width: 390px;
  }
}
