html {
   background: url("/img/tile5.jpeg") repeat center center fixed;
   background-size: cover;
   font-family: "nunito";

}
.content-container {
  min-height: auto;
  margin-bottom: 40px;
  // height: auto;
  width: auto;
  display: none;
  background: white;
  // background: #e1e5ed;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.4);

  @include mobile {
    padding: 0 20px;
  }


  .content {
    // padding-bottom: 60px;
    text-align: center;
    padding-bottom: 15px;


    @include tablet {
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;

    }

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }

    > img {
      width: 100%;
      max-width: 350px;
      padding-top: 20px;

      @include tablet {
        width: 30%;
        align-self: flex-start;
      }
      @media screen and (min-width: 1000px) {
        max-width: 400px;
      }
    }
    .projects{
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
    }
  }

  .copy {
    width: 100%;
    // max-width: 500px;


    @include mobile {
      margin-bottom: 30px;

    }

    @include tablet {
      width: 40%;
    }

    @include desktop {

      max-width: 600px;
    }

    h2 {
      font-size: 18px;
      text-align: center;
      color: $color-red;
      padding-bottom: 5px;
      font-family: "nunito";

      @include tablet {
        font-size: 1.3vw;

      }
    }

    h1 {
      font-family: 'nunito';
      letter-spacing: 3px;
      text-align: left;
      color: pink;
      font-size: 43px;
      // margin-top: 400px;
      text-align: center;
      padding-top: 23px;

      @include tablet {
        font-size: 3vw;
        margin: 0 0 1vw;
        justify-content: center;
      }

      @include mobile {
        font-size: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      font-size: 43px;
      line-height: 1.4;
    }


    p {
      font-family: 'Nunito', sans-serif;
      text-align: justify;
      font-size: 18px;
      line-height: 25px;
      padding-bottom: 10px;

      @include mobile {
        font-size: 16px;
      }

      @media screen and (min-width: 768px) {
        font-size: 1.5vw;
        line-height: 1.4;
      }
      @media screen and (min-width: 1200px) {
        font-size: 18px;
        line-height: 1.4;
      }
    }
  }


}

#row1.content-container {
  h1 {
    padding-top: 70px;
  }
  margin-top: 130px;
  @include mobile {
    margin-top: 130px;
    h1{
      margin-top: 0px;
    }
  }
}
#row2{

  h1{
    margin-top: 30px;

    @include mobile {
      margin-top: 0px;
      padding-bottom: 20px;
    }
  }
  h2{
    padding-bottom: 15px;
  }
  a{
    color: black;
  }
}
// .banner {
//   display: none;
// }
// .AfterScroll {
//   display: block;
// }

.skills {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 20px;
  text-align: center;


  img{
    height: 110px;
    width: auto;
    padding: 25px 20px 15px 20px;
  }

  .item {
    max-width: 400px;

    p {
      // width:250px;
      text-align: center;
      padding-bottom: 15px;
    }
    h1 {
      font-family: 'nunito';
      letter-spacing: 3px;
      text-align: left;
      color: pink;
      font-size: 43px;
      text-align: center;

      @include tablet {
        font-size: 3vw;
        margin: 0 0 1vw;
        justify-content: center;
      }

      @include mobile {
        font-size: 30px;
      }
    }
  }
}


canvas {
  @include mobile {
    max-width: 330px;
  }
}
