.carousel-skills {
  img {
    height: 150px;
    width: auto;
    

  }
  .slick-active {
    padding: 20px 0;
  }

  .slick-center {
    transform: scale(1.08)
  }

  .slick-slide:not(.slick-active) {
    margin: 20px 0;
  }
}
