// Form

.form {
  input {
    width: 100%;
    height:30px;
    box-sizing: border-box;
    font-size: 16px;
    // min-width: 500px;

    @include mobile {
      // max-width: 346px;
    }
  }
  textarea {
    width:100%;
    height:100px;
    font-size: 16px;
    box-sizing: border-box;
  }
  label{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 20px;
    display: block;
    // width:50%;
  }
  h1 {
    // text-align: center !important;
    color: rgb(10, 46, 163);
    font-size: 43px;
  }
  button {
    font-size: 20px;
    padding-top:20px;
    padding-bottom:20px;
    // padding: 15px 50px 15px 50px;
    transition-duration: 0.4s;
    color: black;
    background-color: pink;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  button:hover{
    color:pink;
    background-color: grey;
  }
}
