

#header {
  z-index: 1;
  background-color: pink;
  position: fixed;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
  position: fixed; /* Set the navbar to fixed position */
  top:0;/* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: block;

  span {
    transition: 1s;
  }
  span:hover{
    font-size:45px;
    color: #2a2a2a;
    transition: .2s;
  }

    h1 {
    display: block;
    font-size: 32px;
    text-align: center;
    letter-spacing: 15px;
    font-weight: lighter;
    cursor: pointer;
    margin-top: 30%;
    transition: 2s;
    // font-family: 'Open Sans', sans-serif;
    font-family: "nunito";
    font-weight:bold;
    color: white;
    padding-bottom: 15px;

    @include mobile {
      margin-top: 90%;
    }
  }
}
