#header h1 {
  display: block;
  font-size: 32px;
  text-align: center;
  letter-spacing: 15px;
  font-weight: lighter;
  /*margin-top: 30px;*/
  cursor: pointer;
  margin-top: 30%;
  transition: 2s;
  // font-family: 'Open Sans', sans-serif;
  font-family: "nunito";
  font-weight:bold;
  color: white;
  padding-bottom: 15px;
}

#header span {
  transition: 1s;
}
#header span:hover {
  font-size:45px;
  color: $color-green;
  transition: .2s;

}

#header span.letter1:hover {
  font-size:45px;
  color: $color-green;
  transition: .2s;
}
#header span.letter2:hover {
  font-size:45px;
  color: yellow;
  transition: .2s;
}

#header span.letter3:hover {
  font-size:45px;
  color: #F92C00;
  transition: .2s;
}
#header span.letter4:hover {
  font-size:45px;
  color: #5dff55;
  transition: .2s;
}
#header span.letter5:hover {
  font-size:45px;
  color: #FF9933;
  transition: .2s;
}
#header span.letter6:hover {
  font-size:45px;
  color: #d06fff;
  transition: .2s;
}
#header span.letter7:hover {
  font-size:45px;
  color: $color-green;
  transition: .2s;
}
#header span.letter8:hover {
  font-size:45px;
  color: yellow;
  transition: .2s;
}

#header {
  background-color: pink;
  position: fixed;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
  position: fixed; /* Set the navbar to fixed position */
  top:0;/* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: block;
}
