{% import 'macros/navigation.html' as nav %}
{% extends "layout.html" %}



{% block content %}

  {{ nav.active('home') }}
  <div class="content-container">
      <div class="content">
        <div class="copy">
          <h1>IM FUCKING GAY DUDE</h1>
          <p>
Raised in the melting pot that is Miami I have always found an interest in not only different cultures the city brings but also how they can feed off each other to create something new and original.  I discovered I had a need to create and produce content that was easily digestible and interesting to look at.  I enrolled in an immersive coding bootcamp which completely changed the way I look at how technology and people interact. Which leaves me to where I am today, an ambitious front end developer, proficient in end-to-end web development using CSS, HTML, JavaScript and Ruby ready to leave a mark on out ever growing world.
          </p>
        </div>
        <img src="img/portrait2.png" alt="jonathan dionne">
      </div>
      <!-- <div class="content">
        <div class="copy">
          <h2>Cafe Roval News</h2>
          <h1>Brand New <br> Seasonal Menu</h1>
          <p>
            You already know about the exquisite backyard gardens, but now feast your eyes on an entirely reconceived contemporary Mediterranean menu created by the talented chef Curtis Rhodes.
            You may have seen his name before at other local favorites like the River Oyster Bar and Oak Tavern. Before gracing Miami with his epicurean expertise, he trained for many years in Hawaii under master chef Jean Marie Josselin, garnering a uniquely delicate coastal touch that he brings to every item on the menu...
          </p>
        </div>
        <img src="img/cocktail.png" alt="roval-food">
      </div> -->

{% endblock %}
