{% import 'macros/navigation.html' as nav %}
{% extends "layout.html" %}



{% block content %}

  {{ nav.active('home') }}
  <div class="content-container" id="row1">
    <div class="content">
      <div class="copy">
        <h1>Nice To Meet You</h1>
        <p>
          Raised in the melting pot that is Miami I have always found an interest in not only different cultures the city brings but also how they can feed off each other to create something new and original.
          <br><br>I discovered I had a need to create and produce content that was easily digestible and interesting to look at.  I enrolled in an immersive coding bootcamp which completely changed the way I look at how technology and people interact. Which leaves me to where I am today, an ambitious front end developer, proficient in end-to-end web development and lots and lots of Photoshop, ready to leave a mark on our ever growing world.
        </p>
      </div>
      <img src="img/portrait2.png" alt="jonathan dionne">
    </div>
  </div>

  <div class="content-container" id="row2">
      <div class="skills">
        <div><img src="img/html.png"></div>
        <div><img src="img/css.png"></div>
        <div><img src="img/js.png"></div>
        <div><img src="img/jq.png"></div>
        <div><img src="img/node.png"></div>
        <div><img src="img/gulp.png"></div>
        <div><img src="img/ruby.png"></div>
        <div><img src="img/three.png"></div>
      </div>

      <div class="skills">
        <div class="item">
          <h1>Ex.1 Cafe</h1>
          <h2><a href="https://dist-liopvndxux.now.sh/" target="_blank">View Website</a></h2>
          <p>A fully responsive website made to master gulp.js, the nunjucks templating engine and Sass.</p>
        </div>
        <div class="item">
          <h1>Ex.2 Lawyer</h1>
          <h2><a href="https://lonnie-ppebegcvwd.now.sh/" target="_blank">View Website</a></h2>
          <p>Business website using Bootstrap.</p>
        </div>
      </div>
  </div>

  <div class="content-container" id="row3">
    <div class="banner">
      <div class="content">
        <div class="copy">
          <h1>Contact Me</h1>
          <div class="form">
            <form id="form" method="POST" class="text-center" action="https://formspree.io/jdionne@54hundred.com">
              <!-- change the form action to your script url -->

              <fieldset class="form-group">
                <label for="name">Name </label>
                <input required="" class="form-control" id="name" name="name" placeholder="Your Name">
              </fieldset>

              <fieldset class="form-group">
                <label for="email">Email Address </label>
                <input class="form-control" id="email" name="email" type="email" value="" required="" placeholder="Your Email">
              </fieldset>

              <fieldset class="form-group">
                <label for="number">Number </label>
                <input class="form-control" id="number" name="number" type="tel" required="" placeholder="Your Phone Number">
              </fieldset>

              <fieldset class="form-group">
                <label for="message">Message </label>
                <textarea required="" class="form-control" id="message" name="message" rows="5" placeholder="Your Message"></textarea>
              </fieldset>
              <button type="submit" class="btn btn-primary">Send Message</button>

            </form>
            </div>
          </div>
          <div id="scene3d"></canvas>
            <script type="text/javascript" src="three/three.js"></script>
            <script type="text/javascript" src="three/OrbitControls.js"></script>
            <script type="text/javascript">
              var scene3d = document.getElementById("scene3d");
              var CANVAS_WIDTH = 480;
              var CANVAS_HEIGHT = 550;

              // SCENE

              scene = new THREE.Scene();

              // CAMERA

              camera = new THREE.PerspectiveCamera(25, CANVAS_WIDTH / CANVAS_HEIGHT, 0.1, 100);
              camera.position.x = 3;
              camera.position.y = 3;
              camera.position.z = 3;
              camera.lookAt(scene.position);

              // RENDERER

              renderer = new THREE.WebGLRenderer({alpha: true});
              renderer.setClearColor(0x000000, 0);
              renderer.setSize(CANVAS_WIDTH, CANVAS_HEIGHT);

              var controls = new THREE.OrbitControls(camera, renderer.domElement);
              controls.minDistance = 5;
              controls.maxDistance = 10;

              //create shape
              var geometry = new THREE.BoxGeometry(1,1,1);

              //create a material, color or texture
              var material =
              [
                new THREE.MeshNormalMaterial({color: 0xffffff}),
                new THREE.MeshNormalMaterial({color: 0xffffff}),
                new THREE.MeshNormalMaterial({color: 0xffffff}),
                new THREE.MeshNormalMaterial({color: 0x7777ff}),
                new THREE.MeshNormalMaterial({color: 0xffffff}),
                new THREE.MeshNormalMaterial({color: 0x7777ff}),
              ];
              var cube = new THREE.Mesh(geometry,material);
              scene.add(cube);

              // var ambientLight = new THREE.AmbientLight(0xffffff,0.5);
              // scene.add(ambientLight);

              renderer.shadowMap.enabled = true;
              renderer.shadowMap.type = THREE.PCFShadowMap;
              var light = new THREE.SpotLight(0xffffff, 5.0, 1000);
              light.position.y = 100;
              light.target = cube;

              light.castShadow = true;
              light.shadow = new THREE.LightShadow(new THREE.PerspectiveCamera(100,1,500,1000));
              light.shadow.bias = 0.001;
              light.shadow.mapSize.width = 2048 * 2;
              light.shadow.mapSize.height = 2048 * 2;
              scene.add(light);

              cube.castShadow = true;
              cube.receiveShadow = true;


              var update = function(){
                cube.rotation.x += 0.01;
                cube.rotation.y += 0.005;
              };

              //run game
              var render = function(){
                renderer.render( scene, camera);
              };
              //run game loop (update, render, repeat)
              var GameLoop = function(){
                requestAnimationFrame(GameLoop);

                update();
                render();
              };

              GameLoop();

              // FINISH SCENE SETUP

              // document.body.appendChild(scene3d.domElement);
              scene3d.appendChild(renderer.domElement);
              renderer.render(scene, camera);

            </script>
          <!-- <a href="#" target="_blank"></a> -->
        </div>
      </div>
  </div>

{% endblock %}
